.Buscador{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}
.buscadorInput{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #ececec;
    border:solid 1px #ececec;
    outline: none;
    width: 80%;
    margin-right: 10px;
}