.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    cursor:pointer;
}
.icon{
    margin-right: 20px;
    font-size: 25px;
}
.actions{
    padding: 10px 20px;
}
.success{
    background: var(--success);
    color:#000;
    border: solid 1px var(--success);
}
.success:hover{
    background: #fff;
}
.error{
    background: var(--error);
    color:#000;
    border:solid 1px var(--error);
}
.error:hover{
    background: #fff;
}
.NavPrincipal{
    background: var(--secundario);
    color:#fff;
    display: flex;
    justify-content:flex-start;
    align-items: center;
   /* width: 250px;*/
}
.NavPrincipal:hover{
    background: var(--cuarto);
    color:#000;
}
.SubNav{
    background: var(--tercero);
    color:#000;
    border:solid 1px var(--tercero);
    margin-right: 50px;
}
.SubNav:hover{
    background: var(--cuarto);
}
.InventarioBTN{
    height: 100px;
    width: 100px;
    border-radius:15px;
    box-shadow: 0px 4px 8px gray;
    background: #FFF7BC;
    color:#000;
    border:solid 1px #FFF7BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.InventarioBTN .icon{
    font-size: 30px;
    margin: 0px;
}
.InventarioBTN:hover{
    background: var(--cuarto);
}