.header{
    height: 80px;
    width: 100%;
    color:#fff;
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}