:root{
  --primario: #85586F;
  --secundario: #AC7D88;
  --tercero: #DEB6AB;
  --cuarto: #F8ECD1;
  --success: #C0EDA6;
  --error:  #FD5D5D;
  --complementario:#F8ECD1;
  font-family: 'Inter', sans-serif;
}
.main{
    display: flex;
    background: #fff;
    justify-content: space-between;
}
.container{
    /*width:100%;
    padding: 30px 80px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}