:root{
  /*--primario: #85586F;
  --secundario: #AC7D88;
  --tercero: #DEB6AB;
  --cuarto: #F8ECD1;
  --success: #C0EDA6;
  --error:  #FD5D5D;
  --complementario:#F8ECD1;*/
  --primario: #06283D;
  --secundario: #1363DF;
  --tercero: #47B5FF;
  --cuarto: #DFF6FF;
  --success: #C0EDA6;
  --error:  #FD5D5D;
  --complementario:#F8ECD1;
  --neutro:#202020;
  --opc:#9FD3C7;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
a{
  text-decoration: none;
}
.main{
    display: flex;
    background: #fff;
    justify-content: space-between;
}
.comboBTNS{
    display: flex;
    background: #fff;
    justify-content: space-around;
    margin: 50px 0px;
}
.container{
    /*width:100%;
    padding: 30px 80px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-50{
  width: 48%;
}
.d-100{
  width: 100%;
}
.d-1002{
  width:94%;
}
.d-33{
  width: 30%;
}
.d-25{
  width: 23%;
  padding: 0 10px;
}
.d-12-5{
  width:12.5%;
}
.d-10{
  width:9%;
}
.d-20{
  width:19%;
}
.d-30{
  width:29%;
}
.d-40{
  width:39%;
}
.d-60{
  width:59%;
}